<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" closed fixedInViewport="true" fixedTopGap="100">
        <mat-list class="mat-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="/list-films">
                <i class="material-icons">theaters</i>
                List Films
            </a>
            <a mat-list-item routerLink="/about">
                <i class="material-icons"> import_contacts </i>
                About the author
              </a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <button mat-icon-button (click)="sidenav.toggle()" class="mat-nav-button">
            <i class="material-icons">menu</i>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>