.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.mat-card-content {
    margin-top: 50px;
    text-align: center;
}

.logo {
    width: 150px;
}

@media screen and (min-width: 768px) {
    .logo {
        width: 450px;
    }
}