.mat-card-main {
  background-color: #2c2c2c;
  color: #f2f2f2;
}

.mat-card-film.isValid {
  display: none;
}

.mar-card-film:hover {
  background-color: #f2f2f2;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.excludeAll {
  margin-left: 10px;
}

.input-form {
  width: 300px;
  margin: 10px 15px;
}

.mat-pay {
  background-color: #4cd62b;
  color: #f2f2f2;
  margin: 10px 15px;
}

.mat-cancel {
  background-color: #eb3f5b;
  color: #f2f2f2;
}

.selected {
  margin: 0 15pxp;
}
