<mat-card class="home mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title
      ><a href="https://github.com/dianamartine" class="link"
        >Diana Martine</a
      ></mat-card-title
    >
    <mat-card-subtitle>Frontend developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">Tudo certo jovem!</mat-card-title>
  <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>
      Programadora e desenvolvedora Front-end certificada pelo programa de
      capacitação TRANS.FORMA ofertado pelo Porto Digital. Estudante de
      Psicologia (UNISÃOMIGUEL) e Análise e Desenvolvimento de Sistemas
      (UNINABUCO). Musicista profissional, violonista, multi-instrumentista.
    </p>
    <a href="https://www.github.com/dianamartine" target="_blank">My GitHub</a>
  </mat-card-content>
</mat-card>
