.card-header-image {
    background-image: url(https://www.github.com/dianamartine.png);
    background-size: cover;
}

.link {
    text-decoration: none;
    color: #000;
}

.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1rem;
}

.mat-card-content {
    text-align: left;
}